* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #020617);
    color: white;
}

/* HEADER */
header {
    text-align: center;
    padding: 40px 20px;
}

.profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
    box-shadow: 0 0 20px #38bdf8;
}

h1 {
    margin-top: 10px;
    font-size: 28px;
}

p {
    opacity: 0.8;
}

/* SECTIONS */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #38bdf8;
}

/* SKILLS */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: #1e293b;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}

.card:hover {
    background: #38bdf8;
    color: black;
    transform: scale(1.1);
}

/* PROJECTS */
.project {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}